body {
  font-family: Arial, sans-serif;
  background-color: #00693b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}
